<div class="bl-panel-items" id="bl-panel-work-items">
    <!-- Project Starts -->
    <div data-panel="panel-1">
        <div class="row">
            <!-- Project Main Content Starts -->
            <div class="col s12 l6 xl6">
                <img class="responsive-img" src="images/projects/project-1.jpg" alt="project" />
            </div>
            <!-- Project Main Content Ends -->
            <!-- Project Details Starts -->
            <div class="col s12 l6 xl6">
                <h3 class="font-weight-600 white-text uppercase">Image Project</h3>
                <ul class="project-details white-text second-font">
                    <li><i class="fa fa-user"></i><span class="font-weight-600"> Client </span>: <span class="font-weight-400 uppercase">Envato</span></li>
                    <li><i class="fa fa-calendar"></i><span class="font-weight-600"> Date </span>: <span class="font-weight-400 uppercase">02/11/2017</span></li>
                    <li><i class="fa fa-cogs"></i> <span class="font-weight-600"> Used Technologies</span> : <span class="font-weight-400 uppercase">php, html, css, javascript</span></li>
                </ul>
                <hr>
                <p class="white-text second-font">Occupy american apparel freegan cliche. Mustache trust fund 8-bit jean shorts mumblecore thundercats. Pour-over small batch forage cray, banjo post-ironic flannel keffiyeh cred ethnic semiotics next level tousled fashion axe. Sustainable cardigan keytar fap bushwick bespoke.</p>
                <a href="#" class="waves-effect waves-light btn font-weight-500">Preview <i class="fa fa-external-link"></i></a>
            </div>
            <!-- Project Details Ends -->
        </div>
    </div>
    <!-- Project Ends -->
    <!-- Project Starts -->
    <div data-panel="panel-2">
        <div class="row">
            <!-- Project Main Content Starts -->
            <div class="col s12 l6 xl6">
                <div class="carousel carousel-slider">
                    <a class="carousel-item" href="#one!"><img class="responsive-img" src="images/projects/project-2.jpg" alt="project" ></a>
                    <a class="carousel-item" href="#two!"><img class="responsive-img" src="images/projects/project-1.jpg" alt="project" ></a>
                    <a class="carousel-item" href="#three!"><img class="responsive-img" src="images/projects/project-3.jpg" alt="project" ></a>
                    <a class="carousel-item" href="#four!"><img class="responsive-img" src="images/projects/project-4.jpg" alt="project" ></a>
                </div>
            </div>
            <!-- Project Main Content Ends -->
            <!-- Project Details Starts -->
            <div class="col s12 l6 xl6">
                <h3 class="font-weight-600 white-text uppercase">Slider Project</h3>
                <ul class="project-details white-text second-font">
                    <li><i class="fa fa-user"></i><span class="font-weight-600"> Client </span>: <span class="font-weight-400 uppercase">Themeforest</span></li>
                    <li><i class="fa fa-calendar"></i><span class="font-weight-600"> Date </span>: <span class="font-weight-400 uppercase">02/11/2017</span></li>
                    <li><i class="fa fa-cogs"></i> <span class="font-weight-600"> Used Technologies</span> : <span class="font-weight-400 uppercase">php, html, css, javascript</span></li>
                </ul>
                <hr>
                <p class="white-text second-font">Occupy american apparel freegan cliche. Mustache trust fund 8-bit jean shorts mumblecore thundercats. Pour-over small batch forage cray, banjo post-ironic flannel keffiyeh cred ethnic semiotics next level tousled fashion axe. Sustainable cardigan keytar fap bushwick bespoke.</p>
                <a href="#" class="waves-effect waves-light btn font-weight-500">Preview <i class="fa fa-external-link"></i></a>
            </div>
            <!-- Project Details Ends -->
        </div>
    </div>
    <!-- Project Ends -->
    <!-- Project Starts -->
    <!-- Project Ends -->
    <!-- Project Starts -->
    <div data-panel="panel-4">
        <div class="row">
            <!-- Project Main Content Starts -->
            <div class="col s12 l6 xl6">

            </div>
            <!-- Project Main Content Ends -->
            <!-- Project Details Starts -->
            <div class="col s12 l6 xl6">
                <h3 class="font-weight-600 white-text uppercase">Local Video</h3>
                <ul class="project-details white-text second-font">
                    <li><i class="fa fa-user"></i><span class="font-weight-600"> Client </span>: <span class="font-weight-400 uppercase">Videohive</span></li>
                    <li><i class="fa fa-calendar"></i><span class="font-weight-600"> Date </span>: <span class="font-weight-400 uppercase">02/11/2017</span></li>
                    <li><i class="fa fa-cogs"></i> <span class="font-weight-600"> Used Technologies</span> : <span class="font-weight-400 uppercase">Adobe After Effects, Movie Maker</span></li>
                </ul>
                <hr>
                <p class="white-text second-font">Occupy american apparel freegan cliche. Mustache trust fund 8-bit jean shorts mumblecore thundercats. Pour-over small batch forage cray, banjo post-ironic flannel keffiyeh cred ethnic semiotics next level tousled fashion axe. Sustainable cardigan keytar fap bushwick bespoke.</p>
                <a href="#" class="waves-effect waves-light btn font-weight-500">Preview <i class="fa fa-external-link"></i></a>
            </div>
            <!-- Project Details Ends -->
        </div>
    </div>
    <!-- Project Ends -->
    <!-- Project Starts -->
    <div data-panel="panel-5">
        <div class="row">
            <!-- Project Main Content Starts -->
            <div class="col s12 l6 xl6">
                <img src="images/projects/project-5.jpg" alt="project" />
            </div>
            <!-- Project Main Content Ends -->
            <!-- Project Details Starts -->
            <div class="col s12 l6 xl6">
                <h3 class="font-weight-600 white-text uppercase">Image Project</h3>
                <ul class="project-details white-text second-font">
                    <li><i class="fa fa-user"></i><span class="font-weight-600"> Client </span>: <span class="font-weight-400 uppercase">Graphicriver</span></li>
                    <li><i class="fa fa-calendar"></i><span class="font-weight-600"> Date </span>: <span class="font-weight-400 uppercase">02/11/2017</span></li>
                    <li><i class="fa fa-cogs"></i> <span class="font-weight-600"> Used Technologies</span> : <span class="font-weight-400 uppercase">Adobe Photoshop, Gimp</span></li>
                </ul>
                <hr>
                <p class="white-text second-font">Occupy american apparel freegan cliche. Mustache trust fund 8-bit jean shorts mumblecore thundercats. Pour-over small batch forage cray, banjo post-ironic flannel keffiyeh cred ethnic semiotics next level tousled fashion axe. Sustainable cardigan keytar fap bushwick bespoke.</p>
                <a href="#" class="waves-effect waves-light btn font-weight-500">Preview <i class="fa fa-external-link"></i></a>
            </div>
            <!-- Project Details Ends -->
        </div>
    </div>
    <!-- Project Ends -->
    <!-- Project Starts -->
    <div data-panel="panel-6">
        <div class="row">
            <!-- Project Main Content Starts -->
            <div class="col s12 l6 xl6">
                <img src="images/projects/project-6.jpg" alt="project" />
            </div>
            <!-- Project Main Content Ends -->
            <!-- Project Details Starts -->
            <div class="col s12 l6 xl6">
                <h3 class="font-weight-600 white-text uppercase">Image Project</h3>
                <ul class="project-details white-text second-font">
                    <li><i class="fa fa-user"></i><span class="font-weight-600"> Client </span>: <span class="font-weight-400 uppercase">Activeden</span></li>
                    <li><i class="fa fa-calendar"></i><span class="font-weight-600"> Date </span>: <span class="font-weight-400 uppercase">02/11/2017</span></li>
                    <li><i class="fa fa-cogs"></i> <span class="font-weight-600"> Used Technologies</span> : <span class="font-weight-400 uppercase">Adobe Flash, Paint</span></li>
                </ul>
                <hr>
                <p class="white-text second-font">Occupy american apparel freegan cliche. Mustache trust fund 8-bit jean shorts mumblecore thundercats. Pour-over small batch forage cray, banjo post-ironic flannel keffiyeh cred ethnic semiotics next level tousled fashion axe. Sustainable cardigan keytar fap bushwick bespoke.</p>
                <a href="#" class="waves-effect waves-light btn font-weight-500">Preview <i class="fa fa-external-link"></i></a>
            </div>
            <!-- Project Details Ends -->
        </div>
    </div>
    <!-- Project Ends -->
    <!-- Project Starts -->
    <div data-panel="panel-7">
        <div class="row">
            <!-- Project Main Content Starts -->
            <div class="col s12 l6 xl6">
                <img src="images/projects/project-7.jpg" alt="project" />
            </div>
            <!-- Project Main Content Ends -->
            <!-- Project Details Starts -->
            <div class="col s12 l6 xl6">
                <h3 class="font-weight-600 white-text uppercase">Image Project</h3>
                <ul class="project-details white-text second-font">
                    <li><i class="fa fa-user"></i><span class="font-weight-600"> Client </span>: <span class="font-weight-400 uppercase">3D Ocean</span></li>
                    <li><i class="fa fa-calendar"></i><span class="font-weight-600"> Date </span>: <span class="font-weight-400 uppercase">02/11/2017</span></li>
                    <li><i class="fa fa-cogs"></i> <span class="font-weight-600"> Used Technologies</span> : <span class="font-weight-400 uppercase">3DS Max, Adobe Photoshop</span></li>
                </ul>
                <hr>
                <p class="white-text second-font">Occupy american apparel freegan cliche. Mustache trust fund 8-bit jean shorts mumblecore thundercats. Pour-over small batch forage cray, banjo post-ironic flannel keffiyeh cred ethnic semiotics next level tousled fashion axe. Sustainable cardigan keytar fap bushwick bespoke.</p>
                <a href="#" class="waves-effect waves-light btn font-weight-500">Preview <i class="fa fa-external-link"></i></a>
            </div>
            <!-- Project Details Ends -->
        </div>
    </div>
    <!-- Project Ends -->
    <!-- Project Starts -->
    <div data-panel="panel-8">
        <div class="row">
            <!-- Project Main Content Starts -->
            <div class="col s12 l6 xl6">
                <img src="images/projects/project-8.jpg" alt="project" />
            </div>
            <!-- Project Main Content Ends -->
            <!-- Project Details Starts -->
            <div class="col s12 l6 xl6">
                <h3 class="font-weight-600 white-text uppercase">Image Project</h3>
                <ul class="project-details white-text second-font">
                    <li><i class="fa fa-user"></i><span class="font-weight-600"> Client </span>: <span class="font-weight-400 uppercase">Audiojungle</span></li>
                    <li><i class="fa fa-calendar"></i><span class="font-weight-600"> Date </span>: <span class="font-weight-400 uppercase">02/11/2017</span></li>
                    <li><i class="fa fa-cogs"></i> <span class="font-weight-600"> Used Technologies</span> : <span class="font-weight-400 uppercase">Adobe Audition, Adobe Premiere</span></li>
                </ul>
                <hr>
                <p class="white-text second-font">Occupy american apparel freegan cliche. Mustache trust fund 8-bit jean shorts mumblecore thundercats. Pour-over small batch forage cray, banjo post-ironic flannel keffiyeh cred ethnic semiotics next level tousled fashion axe. Sustainable cardigan keytar fap bushwick bespoke.</p>
                <a href="#" class="waves-effect waves-light btn font-weight-500">Preview <i class="fa fa-external-link"></i></a>
            </div>
            <!-- Project Details Ends -->
        </div>
    </div>
    <!-- Project Ends -->
    <!-- Portfolio Navigation Starts -->
    <nav>
        <!-- Previous Work Icon Starts -->
        <span class="control-button bl-previous-work uppercase font-weight-700"><i class="fa fa-chevron-left"></i></span>
        <!-- Previous Work Icon Ends -->
        <!-- Close Work Icon Starts -->
        <span class="control-button fa fa-close fa-2x bl-icon-close center-align" id="bl-icon-close"></span>
        <!-- Close Work Icon Ends -->
        <!-- Next Work Icon Starts -->
        <span class="control-button bl-next-work uppercase font-weight-700"><i class="fa fa-chevron-right"></i></span>
        <!-- Previous Work Icon Ends -->
    </nav>
    <!-- Portfolio Navigation Ends -->
</div>