<% if (status) { %>
<%= status %>
<% } %>
<form action="/register" method="POST">
	<input type="email" name="email">
	<input type="password" name="password">
	<input type="password" name="password_confirm">
	<input type="submit" value="Register">
	
</form>